/* Estilos generales */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, #3a1c71, #d76d77, #ffaf7b);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

/* Contenedor principal */
.container {
  text-align: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
  width: 80%;
  max-width: 900px;
}

/* Título principal */
h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

/* Estilos para los enlaces */
.links a {
  display: inline-block;
  padding: 15px 25px;
  margin: 15px;
  background-color: #ff6600;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

.links a:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
  background-color: #ff4500;
}

/* Tabla de resultados */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

table th, table td {
  padding: 12px;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  backdrop-filter: blur(5px);
}

table th {
  background-color: #ff6600;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

/* Estilo para inputs de texto */
input[type="text"] {
  padding: 12px;
  font-size: 1rem;
  border-radius: 8px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  margin-right: 10px;
  box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  outline: none;
  transition: box-shadow 0.3s ease;
}

input[type="text"]:focus {
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
}

/* Estilo para botones */
button {
  padding: 12px 25px;
  font-size: 1rem;
  background-color: #ff6600;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  font-weight: bold;
}

button:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
  background-color: #ff4500;
}

/* Result container */
#dvResult {
  margin-top: 20px;
  text-align: left;
}

/* Scrollbar personalizable */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ff6600;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #ff6600;
}
